<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Detail info of {{DOdata.name}}</h1>
        <br>
        <h1>State is :-- {{DOdata.state}}</h1>
        <br>
        <h1>Place is :-- {{DOdata.place}}</h1>
        <br>
        <div class="container">
            <div class="row">
              <div class=" col-sm-3">
                <div class="card">
                    <img src="{{DOdata.images}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">{{DOdata.description}}</p>
                  
                </div>
                </div>
              </div>
            </div>
          </div>
       </center>
        
</body>
</html>